html{
  height: 100%
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  background: rgb(223, 204, 37);
  background: linear-gradient(135deg, rgb(224, 138, 25) 45%, rgb(203, 230, 52) 60%);

}

.container{
  margin: 0 auto;
  min-width: 60vw;
  max-width: 70vw;
  min-height: 60vh;
  max-height: 90vh;
  padding: 30px 0;
  background-color: blue;
  border-radius: 20px;
  overflow-y: auto;

}

h1, h2, h3{
  margin: 0;
}

#intro{
  padding: 0 5%;
}

form section{
  padding: 0 5% ;
  margin-top: 20px;
}

.input-group{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input-group input[type="text"]{
  height: 30px;
  width: 250px;
 border-radius: 20px;
}