html{
  height: 100%
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  background: rgb(194, 180, 52);
  background: linear-gradient(135deg, rgb(240, 162, 60) 45%, rgb(192, 223, 21) 60%);

}

.container{
  margin: 0 auto;
  min-width: 60vw;
  max-width: 70vw;
  min-height: 60vh;
  max-height: 90vh;
  padding: 30px 0;
  background-color: blue;
  border-radius: 20px;
  overflow-y: auto;

}

h1, h2, h3{
  margin: 0;
}

#intro{
  padding: 0 5%;
}

form section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5%;
  margin-top: 20px;
}

.input-group{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input-group input[type="text"]{
  height: 30px;
  width: 250px;
  border: 1px solid #db8f14e0;
  border-radius: 20px;
  box-shadow: #db8f14e0;
  padding-left: 10px;
  margin: 3px 0 10px;

}

.center{
  text-align: center;
}

#MadLibs-submit button,
#MadLibs-reset {
  height: 40px;
  width: 250px;
  background-color: aqua;
  border-radius: 20px;
  border: none;
  padding: 10px;
  box-shadow: orange ;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hide {
  display: none;
}

#completed-story{
  padding: 0 5%;
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2;
}

.inserted-text{
  border-bottom: 3 px solid orangered;
  font-weight:700;
  background-color: antiquewhite;
  padding: 0 5px;
  margin: 0 5px;
}

@media only screen and (max-width: 500px) {
  h2{
    font-size: 1rem;
    margin-top: 5px;
  }
  .container{
    max-width: 100%;
    max-height: 85vh;
  }

  .input-group{
    margin: 5px;
  }

  #completed-story{
    font-size: .75rem;
  }
}